*{
    box-sizing: border-box;
    margin: 0; /* inicializa margenes*/ 
    padding: 0; /* inicializa padding*/
}
html{
    max-height: 100%; /* se adapte pag web a altura cualq dispositivo*/
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-image: url(../Img/incap\ se\ invencible2.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; /* fixed para que se me quede fija*/
}
/*seccion de cabecera PC*/ /*SECCION CSS <HEADER>*/
#header{
    background-color: lightsteelblue;
    border: 2px solid blue;
    border-radius: 22px; /*bordes redondiados */
    display: flex; /*Tecnica para posicionamiento de elemementos */
    flex-direction: row;/*Direccion horizontal o en fila*/
    justify-content: center;/*  alinea horizontalmente*/
    align-items: center;/*alinea verticalmente*/
    grid-area: header;/*asigna nombre al contenedor*/ /*Nombre css del <header>*/
}
/*seccion menu */
ul{
    padding: 0 0;
    margin: 0 1px;
}
li{
    list-style: none; /*quitar las viñetas*/
    margin: 0 5px;
    font: bold 12px verdana;
}
a{
    color: white;
    text-decoration:  none;/* quitar las lineas subrayadas */
}
/* SECCION CSS <NAV> */
#menu{
    grid-area: nav; /*asignar nombre a contenedor*/  /*Nombre CSS Grid del <Nav> */
    background-color: blue;
    border: 2px solid green;
    border-radius: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 5px;

}
/* menu y sub menu nuevo */ /* Seccion  css menu y submenu */
.menuB >li {
    position: relative;
    display: inline-block;
  }
  .menuB >li >a {
      display: block;
      padding: 15px 20px;
      color: white;
      text-decoration: none;
  }
  .menuB li a:hover {   /* Evento css al pasar mouse en mnu activo*/
      color: lightgreen;
      transition: all .3s;
  }
/* submenu */
.submenu{
    position: absolute;
    background: blue;
    width: 120%;
    display: none; /*oculta submenu */
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}
/* Estilos para aplicar al pasar mouse en menu opciones se despliegue submenu respectivo */
.menuB li:hover .submenu{
        display: block; /*evento css para mostrar submenu al pasar mouse encima */
        z-index: 100;
    }
/* Nuevo estilo para buscador */  /*seccion css buscador y lupa */
.buscarbox input{
    height: 25px;
    width: 0px;
    padding: 0px 0px;
    border-radius: 40px;
    border: 0px;
    padding-right: 50px;
    transition: 0.8s ease;
    }
   /* se aplica una psduclase hover para expandir ancho de buscador */
.buscarbox input:hover{
    width: 150px;
    padding-left: 10px;
    outline: none; /*quitar bordes color negro*/    
}
/* seccion de contenido */ /* seccion css <section> */
#main{
    grid-area: main; /* matricula el nombre al contenedor section para grid */ /*nombre css grid del <section> */
    border: 2px solid green;
    border-radius: 22px;
    border: 2px solid yellowgreen;
    /* se define el ancho y altura contenedor  para ajustar a vista a dispositivo actual */
    max-width: 100%;
    height: auto;
/* Efecto glass trasparencia  */
    background-color: rbga(255,255,255,0.6);
    backdrop-filter: blur(5px);
}
figure, figcaption{
    display: inline;
    margin: 45px;
    padding: 5px 5px;
}
/* seccion css <article> */
.programa{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 5px;
    width: 45%;
    height: 200px;
    position: relative;
    border: 1px solid black;
    border-radius: 15px 15px;
}

section article{
    background-color: rgba(255,255,255,0.6);
    backdrop-filter: blur(5px);
    margin: 20px;
    border-radius:  22px ;
    border: 2px solid yellowgreen;
}

/* seccion barra lateral */ /* seccion <aside> */
#sidebar{
        grid-area: sidebar; /* se asigna nombre  a contenedor */
        display: flex ;
        flex-direction: column; /*se define direccion  en forma columna */
        justify-content: center;
        background-color: rgba(255,255,255,0.6);
        backdrop-filter: blur(5px);
        align-items: center;
        border-radius: 22px ;
        border: 2px solid yellowgreen;
}
/* se define ancho y altura contenedor para ajustar vista de dispositivo actual*/
iframe{
        max-width: 100%;
        height: auto;
}
/* seccion pie de pagina  */
#footer{
    grid-area: footer;/* se asigna  nombre a contenedor */ /*nombre css grid del <footer> */
    padding-top: 20px;
    border: 2px solid green;
    border-radius: 20px 20px 10px 10px;
    clear: both; /* Eliminar position relative y absolute */
    background-color: rgba(255,255,255,0.6);
    backdrop-filter:  blur(20px);
}
#redes a {
        padding: 5px;
        margin: 0px;
}
#redes a i:hover{
    transform: scaleX(2.0);
}
/*estilo iconos fontawesome */ /* seccion de css para iconos redes sociales fontwesome */
i[class^="fa"]{
    color: grey;
    font-size: 10px;
}

/*iconos fontawesome Bar social*/
i[class^="fa"]{
    color: grey;
    font-size: 30px;
    border: 1px solid transparent;
    margin: 0px;
}

/* seccion css grid diseño  web responsive  */
/* se define estilos  al contenedor  grid  en general vista pc */



/* seccion CSS grid para diseño web responsive */
/* Vista pc : 3 columnas */
#grid-container > * {
    text-align: center;
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0 ,0.75);
    }
#grid-container{
    display:grid;
    grid-gap:10px;
    grid-template: 
    "header header header " 150px
    "nav nav nav" 50px
    "main main sidebar" 300px
    "main main sidebar" 300px
    "main main sidebar" 250px
    "footer footer footer" 150px /
    1300px 150px 300px;
}
/* SECCION VISTA CELULAR: 1 COLUMNA  */
@media (max-width:640px){
    #grid-container{
        grid-template:
        "header" 150px
        "nav" 50px
        "main" 1120px
        "sidebar" 800px
        "footer" 100px /
        500px;
        font-size: 60%;
    }
    #menu{
        display: none; /*para ocualtar */ 
    }
    #main{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        height: auto;
    }
    .programa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        height: auto;
        border:1px solid black;
    }
    iframe{
        max-width: 1005;
        height: auto;
    }
    .buscarbox{
        display: none;
    }
}